body{
    background: #fff;
    font-family: Helvetica, sans-serif;
    border-top: px solid #424242;
    margin: 0;
    color: #424242;

}

main{
    margin: 0 auto;
    width: 1400px;
}

.post1 section.davante{
    background-image: url(images/davante.jpg);
    height: 10%;
}
