body{
    background: #030C36;
    font-family: Helvetica, sans-serif;
    border-top: 10px solid #fff;
    margin: 40px;
    padding: 40px;
    color: #fff;
}

h1{
    font-size: 3em;
    margin: 0;
}

p{
    line-height: 1.4em;
}

h2{
    color: cyan;
}

h3{
    color: cyan;
}

#blog{
    border-top: 1px dotted #fff;
}

#about{
    border-top: 1px dotted #fff;
}

#contact{
    border-top: 1px dotted #fff;
}

.blog-post{
    border-bottom: 1px dotted #fff;
}

#davante{
    width: 650px;
    height: 300px;
    float: left;
    position: relative;
    bottom: 100px;
}

#amon-ra{
    width: 1200px;
    height: 800px;
}

#nav{
    background: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}