#pictures{
    width: 1200px;
    height: 800px;
    border-radius: 25px;
}

body{
    background: lightcoral;
    font-family: Helvetica, sans-serif;
    border-top: px solid #424242;
    margin: 0 auto;
    width: 1400px;
    color: black;
}

h2{
    color: teal;
}


