#pictures{
    width: 1200px;
    height: 800px;
    border-radius: 25px;
}

body{
    background: #030C36;
    font-family: Helvetica, sans-serif;
    border-top: 10px solid #fff;
    margin: 0 auto;
    width: 1400px;
    color: #fff;
}

h2{
    color: cyan;
}


